<div class="authform">
	<h2>Add project</h2>

	<%= simple_form_for(@project, :url => projects_path, :html => { multipart: true}) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
	    <%= f.input :name, :required => true, :autofocus => true %>
	    <%= image_tag(@project.attachment_url(:thumb).to_s) if @project.attachment? %>
        <%= f.file_field :attachment %> 
        <%= f.hidden_field :attachment_cache %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, "Create" %>
	  </div>

	 	<%= link_to "Back", projects_path %>
	<% end %>
</div>