<br><br>
<%= link_to "Back", projects_path, :class => "button round" %>

<h2>Detail</h2>
<table class="custom-table">
	<thead>
		<td>Image</td>
		<th>Name</th>
		<th>Modify</th>
	</thead>

	<tbody>
		<tr>
			<td><%= image_tag @project.attachment_url(:small).to_s %></td>
			<td><%= @project.name %></td>
			<td>
				<%= link_to "Edit", edit_project_path(@project) %>
				<br>
				<%= link_to("Delete", project_path(@project), :data => { :confirm => "Are you sure?" }, :method => :delete) %>
			</td>
		</tr>
	</tbody>
</table>
